# Node dependencies
node_modules/

# Build output
dist/
build/

# Vite cache
.vite/

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.iml

# Testing
coverage/

# Temporary files
*.swp
*.tmp
.vercel
.env*.local
