--
-- PostgreSQL database dump
--

\restrict ItqT0Mtv0k3lbGgHFeJtzGY1mb7NyXfFGScknFj20Cjgb2MMN9wmpqahoYfexyE

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_attributevalue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_attributevalue (
    id bigint NOT NULL,
    value character varying(100) NOT NULL,
    display_value character varying(100) NOT NULL,
    price_adjustment numeric(10,2) NOT NULL,
    is_default boolean NOT NULL,
    swatch_color character varying(20) NOT NULL,
    swatch_image character varying(100),
    attribute_id bigint NOT NULL
);


ALTER TABLE public.catalog_attributevalue OWNER TO postgres;

--
-- Name: catalog_attributevalue_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_attributevalue ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_attributevalue_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_banner; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_banner (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    subtitle character varying(200) NOT NULL,
    image character varying(500) NOT NULL,
    placement character varying(20) NOT NULL,
    buttons_json jsonb NOT NULL,
    footer_text character varying(300) NOT NULL,
    is_active boolean NOT NULL,
    display_order integer NOT NULL,
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.catalog_banner OWNER TO postgres;

--
-- Name: catalog_banner_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_banner ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_banner_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(50) NOT NULL,
    description text NOT NULL,
    image character varying(100),
    is_active boolean NOT NULL,
    display_order integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.catalog_category OWNER TO postgres;

--
-- Name: catalog_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_product (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    slug character varying(50) NOT NULL,
    sku character varying(50) NOT NULL,
    description text NOT NULL,
    base_price numeric(10,2) NOT NULL,
    stock_quantity integer NOT NULL,
    is_infinite_stock boolean NOT NULL,
    meta_title character varying(255) NOT NULL,
    meta_description text NOT NULL,
    is_active boolean NOT NULL,
    is_featured boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    subcategory_id bigint NOT NULL,
    discount_end_date timestamp with time zone,
    discount_start_date timestamp with time zone,
    discount_type character varying(20),
    discount_value numeric(10,2) NOT NULL,
    is_on_sale boolean NOT NULL,
    primary_image character varying(500),
    zakeke_product_id character varying(255),
    short_description character varying(500) NOT NULL,
    weight_kg numeric(6,3) NOT NULL
);


ALTER TABLE public.catalog_product OWNER TO postgres;

--
-- Name: catalog_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_productattribute; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_productattribute (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    display_name character varying(100) NOT NULL,
    attribute_type character varying(20) NOT NULL,
    is_required boolean NOT NULL,
    display_order integer NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.catalog_productattribute OWNER TO postgres;

--
-- Name: catalog_productattribute_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_productattribute ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_productattribute_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_productimage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_productimage (
    id bigint NOT NULL,
    image character varying(500) NOT NULL,
    alt_text character varying(200) NOT NULL,
    display_order integer NOT NULL,
    is_primary boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.catalog_productimage OWNER TO postgres;

--
-- Name: catalog_productimage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_productimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_productimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_productreview; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_productreview (
    id bigint NOT NULL,
    rating integer NOT NULL,
    title character varying(200) NOT NULL,
    comment text NOT NULL,
    is_verified_purchase boolean NOT NULL,
    helpful_count integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.catalog_productreview OWNER TO postgres;

--
-- Name: catalog_productreview_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_productreview ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_productreview_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_subcategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalog_subcategory (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(50) NOT NULL,
    description text NOT NULL,
    image character varying(100),
    is_active boolean NOT NULL,
    display_order integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.catalog_subcategory OWNER TO postgres;

--
-- Name: catalog_subcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.catalog_subcategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_subcategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: designs_asset; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.designs_asset (
    id bigint NOT NULL,
    file character varying(100) NOT NULL,
    type character varying(50) NOT NULL,
    original_filename character varying(255) NOT NULL,
    size_bytes bigint,
    width integer,
    height integer,
    mime_type character varying(100) NOT NULL,
    resolution_dpi integer,
    uploaded_at timestamp with time zone NOT NULL,
    is_archived boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.designs_asset OWNER TO postgres;

--
-- Name: designs_asset_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.designs_asset ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.designs_asset_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: designs_font; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.designs_font (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    family character varying(100) NOT NULL,
    file character varying(100) NOT NULL,
    weight character varying(50) NOT NULL,
    style character varying(50) NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.designs_font OWNER TO postgres;

--
-- Name: designs_font_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.designs_font ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.designs_font_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: designs_saveddesign; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.designs_saveddesign (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    design_json jsonb NOT NULL,
    preview_image character varying(100),
    thumbnail_high_res character varying(100),
    version integer NOT NULL,
    is_template boolean NOT NULL,
    tags jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.designs_saveddesign OWNER TO postgres;

--
-- Name: designs_saveddesign_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.designs_saveddesign ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.designs_saveddesign_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: designs_template; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.designs_template (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    design_json jsonb,
    tags jsonb NOT NULL,
    preview_image character varying(100),
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    subcategory_id bigint,
    locked boolean NOT NULL,
    surface character varying(50) NOT NULL
);


ALTER TABLE public.designs_template OWNER TO postgres;

--
-- Name: designs_template_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.designs_template ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.designs_template_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: designs_templateelement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.designs_templateelement (
    id bigint NOT NULL,
    type character varying(20) NOT NULL,
    default_text character varying(255) NOT NULL,
    default_image character varying(100),
    x_percent double precision NOT NULL,
    y_percent double precision NOT NULL,
    max_width_percent double precision NOT NULL,
    rotation double precision NOT NULL,
    font_family character varying(100) NOT NULL,
    font_size integer,
    color character varying(20) NOT NULL,
    locked boolean NOT NULL,
    display_order integer NOT NULL,
    template_id bigint NOT NULL
);


ALTER TABLE public.designs_templateelement OWNER TO postgres;

--
-- Name: designs_templateelement_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.designs_templateelement ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.designs_templateelement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: orders_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_order (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    currency character varying(3) NOT NULL,
    subtotal numeric(12,2) NOT NULL,
    tax_total numeric(12,2) NOT NULL,
    shipping_total numeric(12,2) NOT NULL,
    discount_total numeric(12,2) NOT NULL,
    total_amount numeric(12,2) NOT NULL,
    payment_method character varying(50) NOT NULL,
    transaction_id character varying(100) NOT NULL,
    is_paid boolean NOT NULL,
    paid_at timestamp with time zone,
    estimated_delivery_date date,
    customer_notes text NOT NULL,
    internal_notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    billing_address_id bigint,
    shipping_address_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.orders_order OWNER TO postgres;

--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_orderitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_orderitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    total_price numeric(12,2) NOT NULL,
    product_name_snapshot character varying(255) NOT NULL,
    sku_snapshot character varying(50) NOT NULL,
    frozen_canvas_state jsonb,
    print_file_url character varying(100),
    render_status character varying(20) NOT NULL,
    design_id bigint,
    order_id bigint NOT NULL,
    product_id bigint,
    CONSTRAINT orders_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.orders_orderitem OWNER TO postgres;

--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_printjob; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_printjob (
    id bigint NOT NULL,
    batch_id character varying(100) NOT NULL,
    status character varying(20) NOT NULL,
    printer_name character varying(100) NOT NULL,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    error_log text NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.orders_printjob OWNER TO postgres;

--
-- Name: orders_printjob_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_printjob ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_printjob_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_printjob_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_printjob_items (
    id bigint NOT NULL,
    printjob_id bigint NOT NULL,
    orderitem_id bigint NOT NULL
);


ALTER TABLE public.orders_printjob_items OWNER TO postgres;

--
-- Name: orders_printjob_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_printjob_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_printjob_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_shipment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_shipment (
    id bigint NOT NULL,
    carrier character varying(50) NOT NULL,
    tracking_number character varying(100) NOT NULL,
    label_url character varying(200) NOT NULL,
    status character varying(50) NOT NULL,
    weight_kg numeric(6,3) NOT NULL,
    shipped_at timestamp with time zone NOT NULL,
    delivered_at timestamp with time zone,
    order_id bigint NOT NULL
);


ALTER TABLE public.orders_shipment OWNER TO postgres;

--
-- Name: orders_shipment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_shipment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_shipment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_address; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_address (
    id bigint NOT NULL,
    company_name character varying(255) NOT NULL,
    recipient_name character varying(255) NOT NULL,
    phone_number character varying(20) NOT NULL,
    street character varying(255) NOT NULL,
    apartment_suite character varying(100) NOT NULL,
    city character varying(100) NOT NULL,
    state character varying(100) NOT NULL,
    zip_code character varying(20) NOT NULL,
    country character varying(100) NOT NULL,
    type character varying(20) NOT NULL,
    is_default boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.users_address OWNER TO postgres;

--
-- Name: users_address_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_address ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_address_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_role (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.users_role OWNER TO postgres;

--
-- Name: users_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    phone character varying(20) NOT NULL,
    avatar character varying(100),
    company_name character varying(255) NOT NULL,
    tax_id character varying(50) NOT NULL,
    is_verified boolean NOT NULL,
    marketing_opt_in boolean NOT NULL,
    last_login_ip inet,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    role_id bigint
);


ALTER TABLE public.users_user OWNER TO postgres;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO postgres;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO postgres;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: zakeke_zakekeproduct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.zakeke_zakekeproduct (
    id bigint NOT NULL,
    zakeke_product_id character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.zakeke_zakekeproduct OWNER TO postgres;

--
-- Name: zakeke_zakekeproduct_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.zakeke_zakekeproduct ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.zakeke_zakekeproduct_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: catalog_attributevalue; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.catalog_attributevalue (id, value, display_value, price_adjustment, is_default, swatch_color, swatch_image, attribute_id) FROM stdin;
\.


--
-- Data for Name: catalog_banner; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.catalog_banner (id, title, subtitle, image, placement, buttons_json, footer_text, is_active, display_order, start_date, end_date, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: catalog_category; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: catalog_product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: catalog_productattribute; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.catalog_productattribute (id, name, display_name, attribute_type, is_required, display_order, product_id) FROM stdin;
\.


--
-- Data for Name: catalog_productimage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.catalog_productimage (id, image, alt_text, display_order, is_primary, created_at, product_id) FROM stdin;
\.


--
-- Data for Name: catalog_productreview; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.catalog_productreview (id, rating, title, comment, is_verified_purchase, helpful_count, created_at, updated_at, product_id, user_id) FROM stdin;
\.


--
-- Data for Name: catalog_subcategory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: designs_asset; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.designs_asset (id, file, type, original_filename, size_bytes, width, height, mime_type, resolution_dpi, uploaded_at, is_archived, user_id) FROM stdin;
\.


--
-- Data for Name: designs_font; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.designs_font (id, name, family, file, weight, style, is_active) FROM stdin;
\.


--
-- Data for Name: designs_saveddesign; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.designs_saveddesign (id, name, design_json, preview_image, thumbnail_high_res, version, is_template, tags, created_at, updated_at, product_id, user_id) FROM stdin;
\.


--
-- Data for Name: designs_template; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.designs_template (id, name, description, design_json, tags, preview_image, is_active, created_at, product_id, subcategory_id, locked, surface) FROM stdin;
1	Modern Professional	A clean and modern visiting card template.	\N	[]		t	2025-12-30 11:32:46.021556+05:30	1	\N	f	front
\.


--
-- Data for Name: designs_templateelement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.designs_templateelement (id, type, default_text, default_image, x_percent, y_percent, max_width_percent, rotation, font_family, font_size, color, locked, display_order, template_id) FROM stdin;
1	text	YOUR NAME		50	40	80	0	Inter	24	#000000	f	1	1
2	text	Software Engineer		50	50	80	0	Inter	14	#666666	f	2	1
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
4diuf3ifq612jayoscsphjhusv958xcx	.eJxVjMsOwiAQRf-FtSEgb5fu-w1kYAapGkhKuzL-uzbpQrf3nHNfLMK21rgNWuKM7MIkO_1uCfKD2g7wDu3Wee5tXebEd4UfdPCpIz2vh_t3UGHUb12EN6EoC6gQSfrkAUNBFYxNxVmRPQV31sUGmZRxirI3ImtHCiQJrdn7A_UPN-4:1vaVqc:mEZmWIPXv6pv4HqM2zxpK9efurXfHIvycwNw5IUhkYE	2026-01-13 14:46:58.104313+05:30
\.


--
-- Data for Name: orders_order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_order (id, status, currency, subtotal, tax_total, shipping_total, discount_total, total_amount, payment_method, transaction_id, is_paid, paid_at, estimated_delivery_date, customer_notes, internal_notes, created_at, updated_at, billing_address_id, shipping_address_id, user_id) FROM stdin;
\.


--
-- Data for Name: orders_orderitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_orderitem (id, quantity, unit_price, total_price, product_name_snapshot, sku_snapshot, frozen_canvas_state, print_file_url, render_status, design_id, order_id, product_id) FROM stdin;
\.


--
-- Data for Name: orders_printjob; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_printjob (id, batch_id, status, printer_name, started_at, completed_at, error_log, created_at) FROM stdin;
\.


--
-- Data for Name: orders_printjob_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_printjob_items (id, printjob_id, orderitem_id) FROM stdin;
\.


--
-- Data for Name: orders_shipment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_shipment (id, carrier, tracking_number, label_url, status, weight_kg, shipped_at, delivered_at, order_id) FROM stdin;
\.


--
-- Data for Name: users_address; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_address (id, company_name, recipient_name, phone_number, street, apartment_suite, city, state, zip_code, country, type, is_default, created_at, updated_at, user_id) FROM stdin;
\.


--
-- Data for Name: users_role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_role (id, name, description, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: zakeke_zakekeproduct; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.zakeke_zakekeproduct (id, zakeke_product_id, is_active, created_at, updated_at, product_id) FROM stdin;
1	f5505c56-6f21-49e9-ce48-fd614e4c9d8c	t	2025-12-30 14:34:54.769401+05:30	2025-12-30 18:07:18.396639+05:30	1
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 108, true);


--
-- Name: catalog_attributevalue_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_attributevalue_id_seq', 1, false);


--
-- Name: catalog_banner_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_banner_id_seq', 1, false);


--
-- Name: catalog_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_category_id_seq', 13, true);


--
-- Name: catalog_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_product_id_seq', 130, true);


--
-- Name: catalog_productattribute_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_productattribute_id_seq', 1, false);


--
-- Name: catalog_productimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_productimage_id_seq', 1, false);


--
-- Name: catalog_productreview_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_productreview_id_seq', 1, false);


--
-- Name: catalog_subcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.catalog_subcategory_id_seq', 24, true);


--
-- Name: designs_asset_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.designs_asset_id_seq', 1, false);


--
-- Name: designs_font_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.designs_font_id_seq', 1, false);


--
-- Name: designs_saveddesign_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.designs_saveddesign_id_seq', 1, false);


--
-- Name: designs_template_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.designs_template_id_seq', 1, true);


--
-- Name: designs_templateelement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.designs_templateelement_id_seq', 2, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 27, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 37, true);


--
-- Name: orders_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_order_id_seq', 1, false);


--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_orderitem_id_seq', 1, false);


--
-- Name: orders_printjob_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_printjob_id_seq', 1, false);


--
-- Name: orders_printjob_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_printjob_items_id_seq', 1, false);


--
-- Name: orders_shipment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_shipment_id_seq', 1, false);


--
-- Name: users_address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_address_id_seq', 1, false);


--
-- Name: users_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_role_id_seq', 1, false);


--
-- Name: users_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_groups_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 4, true);


--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_user_permissions_id_seq', 1, false);


--
-- Name: zakeke_zakekeproduct_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.zakeke_zakekeproduct_id_seq', 1, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: catalog_attributevalue catalog_attributevalue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_attributevalue
    ADD CONSTRAINT catalog_attributevalue_pkey PRIMARY KEY (id);


--
-- Name: catalog_banner catalog_banner_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_banner
    ADD CONSTRAINT catalog_banner_pkey PRIMARY KEY (id);


--
-- Name: catalog_category catalog_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_category
    ADD CONSTRAINT catalog_category_pkey PRIMARY KEY (id);


--
-- Name: catalog_category catalog_category_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_category
    ADD CONSTRAINT catalog_category_slug_key UNIQUE (slug);


--
-- Name: catalog_product catalog_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_product
    ADD CONSTRAINT catalog_product_pkey PRIMARY KEY (id);


--
-- Name: catalog_product catalog_product_sku_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_product
    ADD CONSTRAINT catalog_product_sku_key UNIQUE (sku);


--
-- Name: catalog_product catalog_product_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_product
    ADD CONSTRAINT catalog_product_slug_key UNIQUE (slug);


--
-- Name: catalog_productattribute catalog_productattribute_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_productattribute
    ADD CONSTRAINT catalog_productattribute_pkey PRIMARY KEY (id);


--
-- Name: catalog_productimage catalog_productimage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_productimage
    ADD CONSTRAINT catalog_productimage_pkey PRIMARY KEY (id);


--
-- Name: catalog_productreview catalog_productreview_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_productreview
    ADD CONSTRAINT catalog_productreview_pkey PRIMARY KEY (id);


--
-- Name: catalog_productreview catalog_productreview_product_id_user_id_4c0fbc41_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_productreview
    ADD CONSTRAINT catalog_productreview_product_id_user_id_4c0fbc41_uniq UNIQUE (product_id, user_id);


--
-- Name: catalog_subcategory catalog_subcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_subcategory
    ADD CONSTRAINT catalog_subcategory_pkey PRIMARY KEY (id);


--
-- Name: catalog_subcategory catalog_subcategory_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_subcategory
    ADD CONSTRAINT catalog_subcategory_slug_key UNIQUE (slug);


--
-- Name: designs_asset designs_asset_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designs_asset
    ADD CONSTRAINT designs_asset_pkey PRIMARY KEY (id);


--
-- Name: designs_font designs_font_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designs_font
    ADD CONSTRAINT designs_font_pkey PRIMARY KEY (id);


--
-- Name: designs_saveddesign designs_saveddesign_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designs_saveddesign
    ADD CONSTRAINT designs_saveddesign_pkey PRIMARY KEY (id);


--
-- Name: designs_template designs_template_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designs_template
    ADD CONSTRAINT designs_template_pkey PRIMARY KEY (id);


--
-- Name: designs_templateelement designs_templateelement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designs_templateelement
    ADD CONSTRAINT designs_templateelement_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: orders_order orders_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_pkey PRIMARY KEY (id);


--
-- Name: orders_orderitem orders_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_pkey PRIMARY KEY (id);


--
-- Name: orders_printjob orders_printjob_batch_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_printjob
    ADD CONSTRAINT orders_printjob_batch_id_key UNIQUE (batch_id);


--
-- Name: orders_printjob_items orders_printjob_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_printjob_items
    ADD CONSTRAINT orders_printjob_items_pkey PRIMARY KEY (id);


--
-- Name: orders_printjob_items orders_printjob_items_printjob_id_orderitem_id_444db27b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_printjob_items
    ADD CONSTRAINT orders_printjob_items_printjob_id_orderitem_id_444db27b_uniq UNIQUE (printjob_id, orderitem_id);


--
-- Name: orders_printjob orders_printjob_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_printjob
    ADD CONSTRAINT orders_printjob_pkey PRIMARY KEY (id);


--
-- Name: orders_shipment orders_shipment_order_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_shipment
    ADD CONSTRAINT orders_shipment_order_id_key UNIQUE (order_id);


--
-- Name: orders_shipment orders_shipment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_shipment
    ADD CONSTRAINT orders_shipment_pkey PRIMARY KEY (id);


--
-- Name: users_address users_address_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_address
    ADD CONSTRAINT users_address_pkey PRIMARY KEY (id);


--
-- Name: users_role users_role_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_role
    ADD CONSTRAINT users_role_name_key UNIQUE (name);


--
-- Name: users_role users_role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_role
    ADD CONSTRAINT users_role_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: users_user users_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_username_key UNIQUE (username);


--
-- Name: zakeke_zakekeproduct zakeke_zakekeproduct_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.zakeke_zakekeproduct
    ADD CONSTRAINT zakeke_zakekeproduct_pkey PRIMARY KEY (id);


--
-- Name: zakeke_zakekeproduct zakeke_zakekeproduct_product_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.zakeke_zakekeproduct
    ADD CONSTRAINT zakeke_zakekeproduct_product_id_key UNIQUE (product_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: catalog_attributevalue_attribute_id_cb89e56d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_attributevalue_attribute_id_cb89e56d ON public.catalog_attributevalue USING btree (attribute_id);


--
-- Name: catalog_category_slug_dbf63ad0_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_category_slug_dbf63ad0_like ON public.catalog_category USING btree (slug varchar_pattern_ops);


--
-- Name: catalog_product_sku_5c54c070_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_product_sku_5c54c070_like ON public.catalog_product USING btree (sku varchar_pattern_ops);


--
-- Name: catalog_product_slug_f37848b0_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_product_slug_f37848b0_like ON public.catalog_product USING btree (slug varchar_pattern_ops);


--
-- Name: catalog_product_subcategory_id_b1a50afa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_product_subcategory_id_b1a50afa ON public.catalog_product USING btree (subcategory_id);


--
-- Name: catalog_productattribute_product_id_7ea24d8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_productattribute_product_id_7ea24d8b ON public.catalog_productattribute USING btree (product_id);


--
-- Name: catalog_productimage_product_id_1f42dd8c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_productimage_product_id_1f42dd8c ON public.catalog_productimage USING btree (product_id);


--
-- Name: catalog_productreview_product_id_9407c0e9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_productreview_product_id_9407c0e9 ON public.catalog_productreview USING btree (product_id);


--
-- Name: catalog_productreview_user_id_b8f95029; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_productreview_user_id_b8f95029 ON public.catalog_productreview USING btree (user_id);


--
-- Name: catalog_subcategory_category_id_8cca2669; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_subcategory_category_id_8cca2669 ON public.catalog_subcategory USING btree (category_id);


--
-- Name: catalog_subcategory_slug_e5ed539d_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX catalog_subcategory_slug_e5ed539d_like ON public.catalog_subcategory USING btree (slug varchar_pattern_ops);


--
-- Name: designs_asset_user_id_45df32df; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX designs_asset_user_id_45df32df ON public.designs_asset USING btree (user_id);


--
-- Name: designs_saveddesign_product_id_a827f32e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX designs_saveddesign_product_id_a827f32e ON public.designs_saveddesign USING btree (product_id);


--
-- Name: designs_saveddesign_user_id_af427ff5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX designs_saveddesign_user_id_af427ff5 ON public.designs_saveddesign USING btree (user_id);


--
-- Name: designs_template_product_id_0206f7ba; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX designs_template_product_id_0206f7ba ON public.designs_template USING btree (product_id);


--
-- Name: designs_template_subcategory_id_2ee4f681; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX designs_template_subcategory_id_2ee4f681 ON public.designs_template USING btree (subcategory_id);


--
-- Name: designs_templateelement_template_id_6ad991bf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX designs_templateelement_template_id_6ad991bf ON public.designs_templateelement USING btree (template_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: orders_order_billing_address_id_deb02e83; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_billing_address_id_deb02e83 ON public.orders_order USING btree (billing_address_id);


--
-- Name: orders_order_shipping_address_id_c4f8227a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_shipping_address_id_c4f8227a ON public.orders_order USING btree (shipping_address_id);


--
-- Name: orders_order_user_id_e9b59eb1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_user_id_e9b59eb1 ON public.orders_order USING btree (user_id);


--
-- Name: orders_orderitem_design_id_88d4735f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_design_id_88d4735f ON public.orders_orderitem USING btree (design_id);


--
-- Name: orders_orderitem_order_id_fe61a34d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_order_id_fe61a34d ON public.orders_orderitem USING btree (order_id);


--
-- Name: orders_orderitem_product_id_afe4254a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_product_id_afe4254a ON public.orders_orderitem USING btree (product_id);


--
-- Name: orders_printjob_batch_id_8f462619_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_printjob_batch_id_8f462619_like ON public.orders_printjob USING btree (batch_id varchar_pattern_ops);


--
-- Name: orders_printjob_items_orderitem_id_6a28b55c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_printjob_items_orderitem_id_6a28b55c ON public.orders_printjob_items USING btree (orderitem_id);


--
-- Name: orders_printjob_items_printjob_id_e2538cd9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_printjob_items_printjob_id_e2538cd9 ON public.orders_printjob_items USING btree (printjob_id);


--
-- Name: unique_default_address_per_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX unique_default_address_per_type ON public.users_address USING btree (user_id, type) WHERE is_default;


--
-- Name: users_address_user_id_4c106ba4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_address_user_id_4c106ba4 ON public.users_address USING btree (user_id);


--
-- Name: users_role_name_86bbd537_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_role_name_86bbd537_like ON public.users_role USING btree (name varchar_pattern_ops);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_role_id_854f2687; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_role_id_854f2687 ON public.users_user USING btree (role_id);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: users_user_username_06e46fe6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_username_06e46fe6_like ON public.users_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_attributevalue catalog_attributeval_attribute_id_cb89e56d_fk_catalog_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_attributevalue
    ADD CONSTRAINT catalog_attributeval_attribute_id_cb89e56d_fk_catalog_p FOREIGN KEY (attribute_id) REFERENCES public.catalog_productattribute(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_product catalog_product_subcategory_id_b1a50afa_fk_catalog_s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_product
    ADD CONSTRAINT catalog_product_subcategory_id_b1a50afa_fk_catalog_s FOREIGN KEY (subcategory_id) REFERENCES public.catalog_subcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_productattribute catalog_productattri_product_id_7ea24d8b_fk_catalog_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_productattribute
    ADD CONSTRAINT catalog_productattri_product_id_7ea24d8b_fk_catalog_p FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_productimage catalog_productimage_product_id_1f42dd8c_fk_catalog_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_productimage
    ADD CONSTRAINT catalog_productimage_product_id_1f42dd8c_fk_catalog_product_id FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_productreview catalog_productreview_product_id_9407c0e9_fk_catalog_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_productreview
    ADD CONSTRAINT catalog_productreview_product_id_9407c0e9_fk_catalog_product_id FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_productreview catalog_productreview_user_id_b8f95029_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_productreview
    ADD CONSTRAINT catalog_productreview_user_id_b8f95029_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_subcategory catalog_subcategory_category_id_8cca2669_fk_catalog_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalog_subcategory
    ADD CONSTRAINT catalog_subcategory_category_id_8cca2669_fk_catalog_category_id FOREIGN KEY (category_id) REFERENCES public.catalog_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: designs_asset designs_asset_user_id_45df32df_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designs_asset
    ADD CONSTRAINT designs_asset_user_id_45df32df_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: designs_saveddesign designs_saveddesign_product_id_a827f32e_fk_catalog_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designs_saveddesign
    ADD CONSTRAINT designs_saveddesign_product_id_a827f32e_fk_catalog_product_id FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: designs_saveddesign designs_saveddesign_user_id_af427ff5_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designs_saveddesign
    ADD CONSTRAINT designs_saveddesign_user_id_af427ff5_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: designs_template designs_template_product_id_0206f7ba_fk_catalog_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designs_template
    ADD CONSTRAINT designs_template_product_id_0206f7ba_fk_catalog_product_id FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: designs_template designs_template_subcategory_id_2ee4f681_fk_catalog_s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designs_template
    ADD CONSTRAINT designs_template_subcategory_id_2ee4f681_fk_catalog_s FOREIGN KEY (subcategory_id) REFERENCES public.catalog_subcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: designs_templateelement designs_templateelem_template_id_6ad991bf_fk_designs_t; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designs_templateelement
    ADD CONSTRAINT designs_templateelem_template_id_6ad991bf_fk_designs_t FOREIGN KEY (template_id) REFERENCES public.designs_template(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_billing_address_id_deb02e83_fk_users_address_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_billing_address_id_deb02e83_fk_users_address_id FOREIGN KEY (billing_address_id) REFERENCES public.users_address(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_shipping_address_id_c4f8227a_fk_users_address_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_shipping_address_id_c4f8227a_fk_users_address_id FOREIGN KEY (shipping_address_id) REFERENCES public.users_address(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_user_id_e9b59eb1_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_user_id_e9b59eb1_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_design_id_88d4735f_fk_designs_saveddesign_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_design_id_88d4735f_fk_designs_saveddesign_id FOREIGN KEY (design_id) REFERENCES public.designs_saveddesign(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_order_id_fe61a34d_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_order_id_fe61a34d_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_product_id_afe4254a_fk_catalog_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_product_id_afe4254a_fk_catalog_product_id FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_printjob_items orders_printjob_item_orderitem_id_6a28b55c_fk_orders_or; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_printjob_items
    ADD CONSTRAINT orders_printjob_item_orderitem_id_6a28b55c_fk_orders_or FOREIGN KEY (orderitem_id) REFERENCES public.orders_orderitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_printjob_items orders_printjob_item_printjob_id_e2538cd9_fk_orders_pr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_printjob_items
    ADD CONSTRAINT orders_printjob_item_printjob_id_e2538cd9_fk_orders_pr FOREIGN KEY (printjob_id) REFERENCES public.orders_printjob(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_shipment orders_shipment_order_id_661ed8ed_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_shipment
    ADD CONSTRAINT orders_shipment_order_id_661ed8ed_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_address users_address_user_id_4c106ba4_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_address
    ADD CONSTRAINT users_address_user_id_4c106ba4_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user users_user_role_id_854f2687_fk_users_role_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_role_id_854f2687_fk_users_role_id FOREIGN KEY (role_id) REFERENCES public.users_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: zakeke_zakekeproduct zakeke_zakekeproduct_product_id_7008bf39_fk_catalog_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.zakeke_zakekeproduct
    ADD CONSTRAINT zakeke_zakekeproduct_product_id_7008bf39_fk_catalog_product_id FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict ItqT0Mtv0k3lbGgHFeJtzGY1mb7NyXfFGScknFj20Cjgb2MMN9wmpqahoYfexyE

